.header {
  $admin: #ffdd59;

  .nav-item {
    border-radius: 2rem;
    padding: 0;
    margin: 0 0.25rem;

    .MuiListItem-root {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    &:hover {
      background-color: rgba($primary-color, 0.2);
      border: 1px solid rgba($primary-color, 0.8)
    }

    &.active {
      background-color: $primary-color;
      color: $contrast-text-color; 
    }
  }

  @media (min-width: 600px) {
    .MuiToolbar-regular {
      min-height: 56px;
    }
  }
}